body {background-color:black; color:white;}
input, textarea {background-color:darkgray; color:black;}
fieldset {width:800px; border:2px solid #003366;}
legend {padding:5px 20px; border:2px solid #003366;}
fieldset div {margin:10px 5px; padding:3px 0; border-bottom:1px solid #003366;}
label {width:150px; display:inline-block;}
a {color:white;}
a.read {color:red;}