body {background-color:black; color:green;}
input, textarea {background-color:darkgray; color:black;}
fieldset {width:800px; border:2px solid green;}
legend {padding:5px 20px; border:2px solid green;}
fieldset div {margin:10px 5px; padding:3px 0; border-bottom:1px solid green;}
label {width:150px; display:inline-block;}